# 1. Web Scraping Basics (10 points)

#### - web scarping is the process of collecting large amout of data from websites in an automated way by writing scripts to extract the data from the HTML code.
#### - as any project we should be driven by the our goal and ask the proper questions what kind of data we need? where we can find it? then we move to the execution process and extract the data form the sources to our platform.

# 2. Python Coding (10 points)
## ambassadors of the kingdom of saudi arabia form wikipedia

In [58]:
from bs4 import BeautifulSoup as bs
import requests as r
import pandas as pd

dics=[]

In [59]:
source=r.get("https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D8%A6%D9%85%D8%A9_%D8%B3%D9%81%D8%B1%D8%A7%D8%A1_%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9")

In [63]:
page=source.content
soup=bs(page,"lxml")

In [64]:
target=soup

In [65]:
for i in range(len(target.findAll("table",class_="wikitable sortable"))):
    for ii in range(len(target.findAll("table",class_="wikitable sortable")[i].find_all("tr"))):
        if ii ==0:
            pass
        else:
            name=target.findAll("table",class_="wikitable sortable")[i].find_all("tr")[ii].find_all("td")[0].text.replace("\n","")
            country=target.findAll("table",class_="wikitable sortable")[i].find_all("tr")[ii].find_all("td")[1].text.replace("\n","")
            rep_level=target.findAll("table",class_="wikitable sortable")[i].find_all("tr")[ii].find_all("td")[3].text.replace("\n","")
            dics.append({"الاسم":name,"الدولة":country,"مستوى التمثيل":rep_level})

In [66]:
pd.DataFrame(dics)

,الاسم,الدولة,مستوى التمثيل
0,وليد مقيم بخاري,لبنان,سفير
1,تركي بن عبد الله الدخيل,الإمارات العربية المتحدة,سفير
2,عبدالله بن منصور المطوع,الإمارات العربية المتحدة,قنصل عام
3,مساعد بن سليمان المرواني,نيبال,سفير
4,إبراهيم بن راضي الراضي,قيرغيزستان,سفير
...,...,...,...
168,زهير محمد الإدريسي,منظمة التعاون الإسلامي,المندوب الدائم
169,أسامة نقلي,جامعة الدول العربية,المندوب الدائم
170,عبد العزيز الواصل,الأمم المتحدة,المندوب الدائم
171,إبراهيم البلوي,اليونيسكو,المندوب الدائم
172,هيفاء بنت عبدالرحمن الجديع,الاتحاد الأوروبي - الجمعية الأوروبية للطاقة ال...,سفير

# 3. Regular Expressions (10 points)

In [67]:
import re

In [68]:
smaple_text="some +966512345678 test 0512345678 text"

In [69]:
def find_phone_num(text):
    text=re.sub("[\s\+]","",text)
    res=re.findall(r'9665[0-9]{8}|05[0-9]{8}',text)
    ##res=re.findall(r'\+9665[0-9]{8}|05[0-9]{8}',text) ##in case not dropping the plus sign
    return res

In [70]:
find_phone_num(smaple_text)

['966512345678', '0512345678']

# 4. Data Cleaning Techniques (10 points)

### 1-Remove duplicates and hadling nulls

In [71]:
import pandas as pd

data = {
    "A": ["TeamA", "TeamB", "TeamB", "TeamC", "TeamA"],
    "B": [50, 40, 40, "30", 50],
    "C": [True, False, False, False, True]
}
df = pd.DataFrame(data)

In [72]:
df

       A   B      C
0  TeamA  50   True
1  TeamB  40  False
2  TeamB  40  False
3  TeamC  30  False
4  TeamA  50   True

In [73]:

df.drop_duplicates()

       A   B      C
0  TeamA  50   True
1  TeamB  40  False
3  TeamC  30  False

### 2-Convert data type

In [74]:
df.dtypes

A    object
B    object
C      bool
dtype: object

In [75]:
df["B"]=df["B"].astype(int)

In [76]:
df.dtypes

A    object
B     int32
C      bool
dtype: object

### 3-Removing texts from numbers or numbers from text or special characters

In [77]:
dic={
    "garbled":["12.3txt","txt123","1t2x3t","t123$xt","1tx@t2"]

}
df1=pd.DataFrame(dic)

In [78]:
df1

   garbled
0  12.3txt
1   txt123
2   1t2x3t
3  t123$xt
4   1tx@t2

In [80]:
df1["numbs"]=df1["garbled"].str.extract("(\d+)")
df1["all_numbs"]=df1["garbled"].str.replace("[a-z@$]","",regex=True).astype(float)
df1["text"]=df1["garbled"].str.replace("(\d+)","",regex=True)

In [81]:
df1

   garbled numbs  all_numbs  text
0  12.3txt    12       12.3  .txt
1   txt123   123      123.0   txt
2   1t2x3t     1      123.0   txt
3  t123$xt   123      123.0  t$xt
4   1tx@t2     1       12.0  tx@t

# 5. SQL Queries (10 points)

DELETE con_main FROM contacts as con_main INNER JOIN contacts as con_sub
<br>
WHERE
<br>
con_main.contact_id > con_sub.contact_id AND
<br>    
con_main.number = con.number;

# 6. Data Extraction Scenario (15 points)
## ministry of finace branches and contacs

In [82]:
from bs4 import BeautifulSoup as bs
import requests as r
import pandas as pd

dics=[]

In [83]:
source=r.get("https://www.mof.gov.sa/help/Pages/BranchesPhonesNumbers.aspx")
page=source.content
soup=bs(page,"lxml")
target=soup.find("ul",class_="dfwp-column dfwp-list").findAll("tr")

In [84]:
for i in range(len(target)):
    
    if i ==0:
        pass
    else:
        branch=target[i].find_all("td")[0].text
        phone=target[i].find_all("td")[1].text
        land_line=target[i].find_all("td")[2].text
        fax=target[i].find_all("td")[3].text
        dics.append({"الفرع":branch,"هاتف مباشر":phone,"السنترال":land_line,"فاكس":fax})

In [85]:
pd.DataFrame(dics)

,الفرع,هاتف مباشر,السنترال,فاكس
0,فرع الوزارة بالمنطقة الشرقية,138343868,138331111,138324189
1,فرع الوزارة بمنطقة الباحة,177251225,177251228,177251222
2,فرع الوزارة بمنطقة الجوف,146246776,146241855,146240937
3,فرع الوزارة بمنطقة الحدود الشمالية/عرعر,146621904,146620134,146621904
4,فرع الوزارة بمنطقة القصيم,163231446,163231447,163231446
5,فرع الوزارة بمنطقة المدينة المنورة,148467100,148471151,148467100
6,فرع الوزارة بمنطقة تبوك,144224831,144221438,144224831
7,فرع الوزارة بمنطقة جازان,0173214260,073214149,0173214267
8,فرع الوزارة بمنطقة حائل,165321148,165324776,165321148
9,فرع الوزارة بمنطقة عسير,172296669,172246560,172296669
10,فرع الوزارة بمنطقة مكة المكرمة / جدة,126617000,126100000,126679705
11,فرع الوزارة بمنطقة نجران,175221761,175226003,175221761
12,مكتب الوزارة بمـكة المكرمة,125720881<br>125721239,125738081,125722194

# 7. Data Cleaning Scenario (15 points)

### 1-locate null values and find a prper source to fill that nissing data.
### 2-drop the duplicated values.
### 3-remove the spcial charcters and misplaced numbers as we did in question 4 number 3.
### 4-cast the columns to it's suitable type as we did in question 4 number 2.

# Section 3: Practical Task (20 points)

## regarding this part of test please accept my sincere apology as i found https://www.my.gov.sa/ "المنصة الوطنية الموحدة للخدمات الحكومية" is inaccessible in egypt

![alt text](su-gov.jpg)